.photo-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 16px;
  padding: 0;
  max-width: 1184px;
  list-style: none;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin-top: 90px;
  }
}