.cover__purchase-button {
  font-family: "Inter", Arial, sans-serif;
  display: inline-block;
  font-weight: 600;
  color: #ffff;
  font-size: 18px;
  box-sizing: content-box;
  max-width: 288px;
  max-height: 48px;
  margin: 0px;
  text-decoration: none;
  background-color: #0278FE;
  border-radius: 4px;
  padding: 13px 20px;
  text-align: center;
}

.cover__purchase-button:hover {
  cursor: pointer;
  background-color: #034fa7;
}

@media screen and (max-width: 320px) {
  .cover__purchase-button {
    margin: 30px auto;
    max-width: 288px;
    max-height: 48px;
  }
}

@media screen and (max-width:288px) {
  .cover__purchase-button {
    max-width: 288px;
    margin: 30px auto;
  }
}