.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin: 0 auto 32px;
  padding: 0;
  line-height: 22px;
  max-width: 280px;
  z-index: 1;
}

@media screen and (max-width: 560px) {
  .cover__subtitle {
    font-size: 16px;
    line-height: 1.18;
    max-width: 250px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    max-width: 220px;
  }
}