.lead__title {
  margin: auto;
  line-height: 100px;
  font-weight: 900;
  margin-bottom: 32px;
  max-width: 793px;
  font-size: 96px;
  text-align: center;
  margin: 91px auto 32px;
}

@media screen and (max-width: 768px) {
  .lead__title {
    max-width: 720px;
    text-align: center;
    margin: 91px auto 32px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    /* or 110% */
    text-align: center;
    margin: 50.89px 16px 16px;
  }
}