.place__purchase-button {
  font-family: "Inter", Arial, sans-serif;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  background-color: #0278FE;
  border-radius: 4px;
  padding: 13px 20px;
  text-align: center;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.21;
  max-width: 288px;
  max-height: 48px;
  margin: 0px;
  padding: 13px 20px;
  transition: background-color 0.3s;
}

.place__purchase-button:hover {
  cursor: pointer;
  background-color: #0665d1;
}

@media screen and (max-width: 320px) {
  .place__purchase-button {
    margin: 30px auto;
    max-width: 288px;
    max-height: 48px;
  }
}

@media screen and (max-width:288px) {
  .place__purchase-button {
    max-width: 288px;
    margin: 30px auto;
  }
}