.place__purchase-button {
  grid-area: button;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  border-style: none;
  color: #fff;
  border-radius: 4px;
  padding: 13px 20px;
  margin: 48px auto 80px;
  background-color: #0278FE;
  padding: 13px 20px;
  text-align: center;
  box-sizing: border-box;
}

.place__purchase-button:hover {
  cursor: pointer;
  background-color: #0063d3;
}

@media screen and (max-width: 320px) {
  .place__purchase-button {
    margin: 30px auto;
    min-width: 288px;
    min-height: 48px;
  }
}

@media screen and (max-width:288px) {
  .place__purchase-button{
    max-width: 288px;
    margin: 30px auto;
  }
  }