.cover__responsive-purchase-button {
  max-width: 137px;
  max-height: 48px;
  margin: 32px 0 0;
}

@media screen and (max-width: 560px) {
  .cover__responsive-purchase-button {
    margin-top: 24px;
  }
}

@media screen and (max-width: 320px) {
  .cover__responsive-purchase-button {
    margin-top: 16px;
  }
}