@media screen and (max-width: 320px) {
  .place__purchase-button-responsive {
    margin-left: auto;
    margin-right: auto;
    min-width: 288px;
    min-height: 48px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 288px) {
  .place__purchase-button-responsive {
    min-width: 0;
    max-width: 288px;
  }
}