.intro__text {
  max-width: 720px;
  font-weight: 400;
  line-height: 26.08px;
  font-size: 16px;
  margin: 32px 24px 118px;
}

@media screen and (max-width: 320px) {
  .intro__text {
    max-width: 288px;
    margin: 32px 16px 90px;
  }
}