.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-style: normal;
  max-width: 720px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    max-width: 720px;
    text-align: center;
  }
}

@media screen and (max-width:540px) {
  .lead__subtitle {
    max-width: 370px;
    max-height: 171px;
    font-size: 20px;
    line-height: 22px;
    margin: 32px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .lead__subtitle {
    max-width: 330px;
    max-height: 152px;
    font-size: 18px;
    line-height: 1;
    margin: 32px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 32px 0px 0px;
  }
}