.cover__title {
  align-items: center;
  text-align: center;
  font-size: 72px;
  line-height: 76px;
  margin: 0 auto 32px;
  padding: 0;
  font-weight: 900;
  z-index: 1;
}


@media screen and (max-width: 768px) {
  .cover__title {
    margin: 0 56px 32px;
  }
}

@media screen and (max-width: 560px) {
  .cover__title {
    font-size: 52px;
    line-height: 1.07;
    margin: 52px 15px 17px;
  }
}

@media screen and (max-width: 480px) {
  .cover__title {
    font-size: 34px;
    line-height: 1.1;
    margin: 53px 16px 18px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    margin: 46px 16px 16px;
    font-size: 32px;
    line-height: 1.1;
  }
}