.place__artist-title {
  font-family: "Inter", "Arial", sans-serif;
  grid-area: website;
  color: #aaaaaa;
  max-width: 50px;
  margin: 0 0 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.25;
  letter-spacing: 0.12em;
}