.place {
  box-sizing: border-box;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content min-content 1fr;
  gap: 48px 40px;

  grid-template-areas:
    "title website"
    "media description"
    "link description";
}

@media screen and (max-width: 768px) {
  .place {
    margin-top: 72px;
    gap: 46px 28px;
  }
}

@media screen and (max-width: 560px) {
  .place {
    gap: 30px 0;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }
}
