.button_place_cover {
  margin: 32px auto 0;
  z-index: 1;
}

@media screen and (max-width: 560px) {
  .button_place_cover {
    margin-top: 24px;
  }
}

@media screen and (max-width: 320px) {
  .button_place_cover {
    margin-top: 16px;
  }
}